<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>363520077883-5dq4an47isjl5biau3jclmd8oiv0l8ol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363520077883-5dq4an47isjl5biau3jclmd8oiv0l8ol</string>
	<key>API_KEY</key>
	<string>AIzaSyAGXGjuLHJ92HZRBcpumWhArIxwcEI1il8</string>
	<key>GCM_SENDER_ID</key>
	<string>363520077883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cheena.YandexTaxiPlus</string>
	<key>PROJECT_ID</key>
	<string>taxiplus-bf8af</string>
	<key>STORAGE_BUCKET</key>
	<string>taxiplus-bf8af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363520077883:ios:03739ce45c6ac389</string>
	<key>DATABASE_URL</key>
	<string>https://taxiplus-bf8af.firebaseio.com</string>
</dict>
</plist>